name: Pull Request

on:
  pull_request:
    types: [opened, synchronize,labeled]
    branches: [main]

env:
  NODE_VERSION: 18.x
  PNPM_VERSION: 8

jobs:
  check-label:
    name: Check PR Label
    runs-on: ubuntu-latest
    steps:
      - name: Validate Required Labels
        uses: actions/github-script@v7
        with:
          script: |
            const requiredLabels = [
            'devops',
            'infrastructure',
            'frontend',
            'backend'
            ];

            const prLabels = context.payload.pull_request.labels.map(label => label.name);
            const hasAreaLabel = prLabels.some(label => requiredLabels.includes(label));

            if (!hasAreaLabel) {
            core.setFailed(`❌ PR must include at least one label: ${requiredLabels.join(', ')}`);
            } else {
            core.info(`✅ PR contains a required label.`);
            }
  build:
    runs-on: ubuntu-latest
    needs: check-label
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4

      - name: Configure Worflow
        uses: ./.github/actions/configure

      - name: Build Project
        run: pnpm build

  test:
    runs-on: ubuntu-latest
    needs: check-label
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4

      - name: Configure Worflow
        uses: ./.github/actions/configure

      - name: Build Project
        run: pnpm test

  lint:
    runs-on: ubuntu-latest
    needs: check-label
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4

      - name: Configure Worflow
        uses: ./.github/actions/configure

      - name: Build Project
        run: pnpm lint
